<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="class">
	<select id="getAttendance" resultType="attendance">
		select * from attendance
		where trunc(entry_time) = to_date(#{selectedDate}, 'YYYY-FMMM-FMDD')
			and class_no = #{classNo}
			and user_no = #{userNo}
	</select>
	
	<select id="getClassroom" resultType="classroom">
		select * from class
		where class_no = #{classNo}
	</select>
	
	<insert id="addAttendance">
		insert into attendance(user_no, class_no, entry_time) values
		(#{userNo}, #{classNo}, sysdate)
	</insert>
	
	<select id="getClasslist" resultType="classroom">
		select * from class
		join class_join using(class_no)
		where user_no = #{mypageNo}
	</select>
</mapper>