@charset "UTF-8";
/*
    전체 설정
*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}
.container{
    width: 100%;
    height: 100vh;
    border: 1px solid black;
}
/*
    헤더 영역
*/
.header{
    height: 10vh;
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 30px;
}
.header_logo{
    width: 20%;
}
.header_title{
    width: 75%;
}
.header_back{
    width: 5%;
}
.header_back_button{
    width: 35px;
    height: 35px;
    font-size: 30px;
}
/*
    메인 영역
*/
.main{
    display: flex;
}
/*
    친구 영역
*/
.member_area{
    border: 1px solid black;
    width: 20%;
    min-width: 250px;
    height: 90vh;
}
.room_title{
    min-width: 250px;
    height: 8vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
}
.room_inf{
    height: 7vh;
    display: flex;
    font-size: 20px;
    align-items: center;
}
.room_inf div:nth-child(1){
    border: 1px solid black;
    margin-left: 5%;
}
.room_inf div:nth-child(2){
    border: 1px solid black;
    margin-left: 1%;
}
.room_inf .room_alarm_button{
    width: 30px;
    height: 30px;
    margin-left: 10%
}
.room_inf .room_set_button{
    width: 30px;
    height: 30px;
    margin-left: auto;
    margin-right: 5%;
}
.member_list{
    border: 1px solid black;
    overflow-y: auto;
    width: 100%;
    height: 75vh;
}
.member_list li{
    margin-top: 10%;
    margin-bottom: 10%;
    width: 100%;
    display: flex;
}
.member_list li .member_picture{
    border: 1px solid black;
    width: 60px;
    height: 60px;
    margin-left: 5%;
    text-align: center;
    line-height: 60px;
}
.member_list li .member_name_ps{
    margin-left: 10px;
    width: 80%;
}
.member_list li .member_name{
    border: 1px solid black;
    width: 100px;
    height: 30px;
}
.member_list li .member_ps{
    border: 1px solid black;
    height: 30px;
    width: 80%;
}
/*
    채팅 영역
*/
.chatting_area{
    border: 1px solid black;
    width: 80%;
    height: 90vh;
}
.chatting_main{
    height: 80%;
    position: relative;
    overflow-y: auto;
    background-color: whitesmoke;
    display: flex;
    flex-direction: column;
}
.chatting_notice_top{
    position: sticky;
    top: 0;
    border: 1px solid black;
    background-color: gray;
    width: 90%;
    height: 35px;
    margin: auto;
    text-align: center;
}
.forward_main{
    width: 100%;
    height: 20%;
}
.forward_text{
    height: 75%;
}
.text{
    width: 100%;
    height: 100%;
    font-size: 30px;
    resize: none;
}
.forward_img_file{
    height: 25%;
    display: flex;
}
.forward_img_file .gallery{
    font-size: 20px;
    width: 60px;
    margin-left: 1%;
}
.forward_img_file .file{
    font-size: 20px;
    width: 60px;
    margin-left: 1%;
}
.forward_img_file .search{
    font-size: 20px;
    width: 60px;
    margin-left: 1%;
}
.forward_img_file .forward{
    font-size: 20px;
    width: 60px;
    margin-left: auto;
    margin-right: 1%;
}
/*
    1. 전체적으로 width/height 사이즈 조정 필요
    1-1. 그에 따른 margin 조정 필요

    2. 채팅 길이에 따른 입력창과 말풍선 크기 지정
*/

/*
    채팅방 설정 컨트롤러
*/
#controller_set{
    width: 100px;
    height: 100px;
    background-color: black;
    color: white;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: fixed;
}
#controller_set div{
    margin: 2px;
}

/*
    채팅방 설정 모달
*/
/*
    1. 방장
*/
#chattingroomset_modal_creater {
    border: 1px solid black;
    width: 500px;
    height: 700px;
    background-color: red;
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 999;
}
#chattingroomset_modal_creater .modal_name{
    height: 50px;
    display: flex;
    align-items: center;
    font-size: 30px;
    background-color: orange;
}
#chattingroomset_modal_creater .modal_name span{
    margin-left: 20px;
}
#chattingroomset_modal_creater .change_title{
    height: 35px;
    display: flex;
    align-items: center;
    margin-left: 47px;
    background-color: yellow;
}
#chattingroomset_modal_creater input[type=text]{
    height: 25px;
}
#chattingroomset_modal_creater .insert_title{
    display: block;
    margin: auto;
    width: 80%;
}
#chattingroomset_modal_creater .open_close_passworld{
    height: 60px;
    display: flex;
    background-color: green;
}
#chattingroomset_modal_creater .open_close{
    background-color: blue;
    width: 200px;
    margin-left: 47px;
}
#chattingroomset_modal_creater span{
    font-size: 15px;
}
#chattingroomset_modal_creater input[type="checkbox"]{
    width: 25px;
    height: 25px;
}
#chattingroomset_modal_creater .room_close{
    margin-left: 10%;
}
#chattingroomset_modal_creater .passworld{
    background-color: violet;
    margin-left: auto;
    margin-right: 47px;
}
#chattingroomset_modal_creater .member_plus{
    height: 35px;
    margin-left: 47px;
    background-color: gray;
    height: 35px;
    display: flex;
    align-items: center;
}
#chattingroomset_modal_creater .member_search{
    height: 35px;
    margin-left: 47px;
    background-color: brown;
}
#chattingroomset_modal_creater .member_list{
    height: 425px;
    background-color: pink;
}
#chattingroomset_modal_creater .member_choice{
    overflow-y: auto;
    width: 80%;
    height: 425px;
    background-color: orchid;
    margin: auto;
}
#chattingroomset_modal_creater .member_choice li{
    margin-top: 5%;
    display: flex;
    background-color: skyblue;
}
#chattingroomset_modal_creater .member_choice li .member_picture{
    border: 1px solid black;
    width: 60px;
    height: 60px;
    margin-left: 5%;
    text-align: center;
    line-height: 60px;
}
#chattingroomset_modal_creater .member_choice li .member_name{
    border: 1px solid black;
    width: 100px;
    height: 30px;
    margin-left: 10%;
}
#chattingroomset_modal_creater .member_choice li .member_ps{
    border: 1px solid black;
    width: 180px;
    height: 30px;
    margin-left: 10%;
}
#chattingroomset_modal_creater .go_back{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 35px;
    background-color:coral
}
#chattingroomset_modal_creater .go_back input:nth-child(1){
    width: 60px;
    margin-right: 10%;
}
#chattingroomset_modal_creater .go_back input:nth-child(2){
    width: 60px;
    margin-left: 10%;
}

/*
    2. 방장x
*/
#chattingroomset_modal_member {
    border: 1px solid black;
    width: 500px;
    height: 650px;
    background-color: red;
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 999;
}
#chattingroomset_modal_member .modal_name{
    height: 50px;
    display: flex;
    align-items: center;
    font-size: 30px;
    background-color: orange;
}
#chattingroomset_modal_member .modal_name span{
    margin-left: 20px;
}
#chattingroomset_modal_member .change_title{
    height: 35px;
    display: flex;
    align-items: center;
    margin-left: 47px;
    background-color: yellow;
}
#chattingroomset_modal_member input[type=text]{
    height: 25px;
}
#chattingroomset_modal_member .insert_title{
    display: block;
    margin: auto;
    width: 80%;
}
#chattingroomset_modal_member .member_plus{
    height: 35px;
    margin-left: 47px;
    background-color: gray;
    display: flex;
    align-items: center;
}
#chattingroomset_modal_member .member_search{
    height: 35px;
    margin-left: 47px;
    background-color: brown;
}
#chattingroomset_modal_member .member_list{
    height: 425px;
    background-color: pink;
}
#chattingroomset_modal_member .member_choice{
    overflow-y: auto;
    width: 80%;
    height: 425px;
    background-color: orchid;
    margin: auto;
}
#chattingroomset_modal_member .member_choice li{
    margin-top: 5%;
    display: flex;
    background-color: skyblue;
}
#chattingroomset_modal_member .member_choice li .member_picture{
    border: 1px solid black;
    width: 60px;
    height: 60px;
    margin-left: 5%;
    text-align: center;
    line-height: 60px;
}
#chattingroomset_modal_member .member_choice li .member_name{
    border: 1px solid black;
    width: 100px;
    height: 30px;
    margin-left: 10%;
}
#chattingroomset_modal_member .member_choice li .member_ps{
    border: 1px solid black;
    width: 180px;
    height: 30px;
    margin-left: 10%;
}
#chattingroomset_modal_member .go_back{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 35px;
    background-color:coral
}
#chattingroomset_modal_member .go_back input:nth-child(1){
    width: 60px;
    margin-right: 10%;
}
#chattingroomset_modal_member .go_back input:nth-child(2){
    width: 60px;
    margin-left: 10%;
}

/*
    채팅방 신고
*/
#reportroom_modal{
    border: 1px solid black;
    width: 500px;
    height: 490px;
    background-color: red;
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 999;
}
#reportroom_modal .modal_name{
    height: 50px;
    display: flex;
    align-items: center;
    font-size: 30px;
    background-color: orange;
    margin-left: 20px;
}
.report_reason{
    background-color: yellow;
    width: 80%;
    height: 40px;
    margin: auto;
    font-size: 25px;
}
.reasons{
    background-color: green;
    width: 400px;
    height: 360px;
    margin: auto;
}
.reasons div:not(:first-child){
    margin-top: 5%;
}
.reasons input[type="checkbox"]{
    width: 25px;
    height: 25px;
}
.reasons span{
    font-size: 20px;
}
textarea{
    resize: none;
    width: 385px;
    height: 100px;
    margin-left: 5px;
    font-size: 20px;
}
.go_back{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 40px;
    background-color:blue
}
.go_back input:nth-child(1){
    width: 60px;
    margin-right: 10%;
}
.go_back input:nth-child(2){
    width: 60px;
    margin-left: 10%;
}

/*
    채팅 컨트롤러
*/
/*
    내채팅
*/
#mychattingoption_controller{
    width: 100px;
    height: 133px;
    background-color: black;
    color: white;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: fixed;
}
#mychattingoption_controller div{
    margin: 2px;
}
/*
    남채팅
*/
#otherchattingoption_controller{
    width: 100px;
    height: 100px;
    background-color: black;
    color: white;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: fixed;
}
#otherchattingoption_controller div{
    margin: 2px;
}

/*
    이미지, 파일 채팅컨트롤러
*/
/*
    내채팅
*/
#myimgfilechattingoption_controller{
    width: 100px;
    height: 100px;
    background-color: black;
    color: white;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: fixed;
}
#myimgfilechattingoption_controller div{
    margin: 2px;
}
/*
    남채팅
*/
#otherimgfilechattingoption_controller{
    width: 100px;
    height: 133px;
    background-color: black;
    color: white;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: fixed;
}
#otherimgfilechattingoption_controller div{
    margin: 2px;
}

/*
    공지 컨트롤러
*/
#chattingnotice_controller{
    background-color: black;
    color: white;
    width: 100px;
    height: 60px;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: fixed;
}
#chattingnotice_controller div{
    margin: 2px;
}