@charset "UTF-8";
/*
    전체 설정
*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}
.container{
    width: 100%;
    height: 1024px;
    border: 1px solid black;
}
/*
    헤더 영역
*/
.header{
    height: 80px;
    background-color: black;
    color: white;
    display: flex;
    width: 100%;
}
.header_logo{
    border: 1px solid black;
    font-size: 30px;
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
}
.header_title{
    border: 1px solid black;
    width: 75%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
}
.header_back{
    border: 1px solid black;
    width: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
}
.header_back_button{
    width: 35px;
    height: 35px;
    font-size: 30px;
}
/*
    메인 영역
*/
.main{
    display: flex;
    height: 944px;
    width: 100%;
}
/*
    친구 영역
*/
.friend_list{
    border: 1px solid black;
    background-color: white;
    width: 20%;
}
/*
    친구 영역 top
*/
.friend_top{
    border: 1px solid black;
    height: 100px;
    display: flex;
    align-items: center;
}
.friend_top div:nth-child(1){
    font-size: 25px;
    margin-left: 5%;
}
.friend_top div:nth-child(2){
    font-size: 15px;
    margin-left: 1%;
}
.friend_top button{
    font-size: 15px;
    margin-left: auto;
    margin-right: 5%;
}
/*
    친구 영역 mid
*/
.friend_mid{
    overflow-y: auto;
    height: 844px;
}
.friend_mid li{
    margin-top: 10%;
    display: flex;
    border: 1px solid black;
}
.friend_mid li .friend_picture{
    border: 1px solid black;
    width: 60px;
    height: 60px;
    margin-left: 5%;
    text-align: center;
    line-height: 60px;
}
.friend_mid li .friend_name_ps{
    margin-left: 10px;
    width: 80%;
}
.friend_mid .friend_name{
    border: 1px solid black;
    width: 100px;
    height: 30px;
}
.friend_mid li .friend_ps{
    border: 1px solid black;
    width: 150px;
    height: 30px;
}
/*
    채팅 영역
*/
.chattingroom_list{
    background-color: whitesmoke;
    border: 1px solid black;
    width: 80%;
}
/*
    채팅 영역 top
*/
.chattingroomlist_top{
    border: 1px solid black;
    height: 100px;
}
.chattingroomlist_top div{
    font-size: 25px;
    margin-left: 5%;
    line-height: 100px;
}
/*
    채팅 영역 sub
*/
.chattingroomlist_sub{
    border: 1px solid black;
    height: 50px;
    font-size: 20px;
}
.chattingroomlist_sub ul{
    display: flex;
    height: 100%;
    align-items: center;
}
.chattingroomlist_sub li:nth-child(1){
    margin-left: 15%;
}
.chattingroomlist_sub li:nth-child(2){
    margin-left: 21%;    
}
.chattingroomlist_sub li:nth-child(3){
    margin-left: 8%;
}
.chattingroomlist_sub li:nth-child(4){
    margin-left: 8%;
}
.chattingroomlist_sub li:nth-child(5){
    margin-left: 6.5%;
}
.chattingroomlist_sub li:nth-child(6){
    margin-left: 6.5%;
}
/*
    채팅 영역 mid
*/
.chattingroomlist_mid{
    border: 1px solid black;
    height: 744px;
    overflow-y: auto;
}
.chattingroomlist_mid li{
    margin-top: 2%;
    display: flex;
    height: 80px;
    align-items: center;
    border: 1px solid black;
}
.chattingroomlist_mid li div:nth-child(1){
    border: 1px solid black;
    width: 60px;
    height: 60px;
    margin-left: 2%;
    text-align: center;
    line-height: 60px;
}
.chattingroomlist_mid li div:nth-child(2){
    border: 1px solid black;
    width: 210px;
    height: 60px;
    margin-left: 2%;
    line-height: 60px;
}
.chattingroomlist_mid li div:nth-child(3){
    border: 1px solid black;
    width: 60px;
    height: 60px;
    margin-left: 2%;
    text-align: center;
    line-height: 60px;
}
.chattingroomlist_mid li div:nth-child(4){
    border: 1px solid black;
    width: 90px;
    height: 60px;
    margin-left: 5%;
    text-align: center;
    line-height: 60px;
}
.chattingroomlist_mid li div:nth-child(5){
    border: 1px solid black;
    width: 70px;
    height: 60px;
    margin-left: 7%;
    text-align: center;
    line-height: 60px;
}
.chattingroomlist_mid li div:nth-child(6){
    border: 1px solid black;
    width: 100px;
    height: 60px;
    margin-left: 7%;
    text-align: center;
    line-height: 60px;
}
.room_alarm_button{
    width: 60px;
    height: 60px;
    margin-left: 4.5%;
    text-align: center;
    line-height: 60px;
}
.room_set_button{
    width: 60px;
    height: 60px;
    margin-left: 5%;
    text-align: center;
    line-height: 60px;
}

/*
    채팅 영역 bottom
*/
.chattingroomlist_bottom{
    display: flex;
    border: 1px solid black;
    height: 50px;
    align-items: center;
}
.chattingroomlist_bottom form{
    margin: 0 auto;
}
.chattingroomlist_bottom select{
    font-size: 30px;
}
.chattingroomlist_bottom input:nth-of-type(1){
    font-size: 30px;
}
.chattingroomlist_bottom input:nth-of-type(2){
    font-size: 25px;
}
/*
    전체적으로 width/height 사이즈 조정 필요
    그에 따른 margin 조정 필요
*/

/*
    방만들기 모달창
*/
.line{
    width: 80px;
    height: 1px;
    background-color: white;
}
#createroom_modal{
    display: none;
    border: 1px solid black;
    width: 500px;
    height: 700px;
    background-color: red;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 999;
}
.modal_name{
    height: 50px;
    display: flex;
    align-items: center;
    font-size: 30px;
    background-color: orange;
}
.modal_name span{
    margin-left: 20px    
}
#createroom_modal .room_title{
    height: 35px;
    display: flex;
    align-items: center;
    margin-left: 47px;
    background-color: yellow;
}
input[type=text]{
    height: 25px;
}
.input_room_title{
    display: block;
    margin: auto;
    width: 80%;
}
.create_open_close{
    height: 60px;
    display: flex;
    background-color: green;
}
.choice_open_close{
    background-color: blue;
    width: 200px;
    margin-left: 47px;
}
input[type="checkbox"]{
    width: 25px;
    height: 25px;
    margin-left: 5px;
}
.room_close{
    margin-left: 10%;
}
.create_passwoard{
    background-color: violet;
    margin-left: auto;
    margin-right: 50px;
}
.member_plus{
    height: 35px;
    margin-left: 47px;
    background-color: gray;
   
}
.search_name{
    height: 35px;
    margin-left: 47px;
    background-color: brown;
}
#createroom_modal .friend_list{
    height: 425px;
    background-color: pink;
    width: 80%;
    margin: auto;
}
.friend_choice{
    overflow-y: auto;
    width: 80%;
    height: 425px;
    background-color: orchid;
    margin: auto;
}
.friend_choice li{
    margin-top: 5%;
    display: flex;
    background-color: skyblue;
}
.friend_choice li .friend_picture{
    border: 1px solid black;
    width: 60px;
    height: 60px;
    margin-left: 5%;
    text-align: center;
    line-height: 60px;
}

#createroom_modal .friend_name_ps .friend_name{
    border: 1px solid black;
    width: 100px;
    height: 30px;
    margin-left: 10%;
}
#createroom_modal .friend_name_ps .friend_ps{
    border: 1px solid black;
    width: 180px;
    height: 30px;
    margin-left: 10%;
}
#createroom_modal .go_back{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 35px;
    background-color:coral;
}
#createroom_modal .go_back input:nth-child(1){
    width: 60px;
    margin-right: 10%;
}
#createroom_modal .go_back input:nth-child(2){
    width: 60px;
    margin-left: 10%;
}

/*
    친구 프로필 모달창
*/
#friend_profile_modal{
    display: none;
    width: 200px;
    height: 250px;
    background-color: red;
    position: fixed;
}
.profile_picture{
    width: 80px;
    height: 80px;
    margin: auto;
    background-color: orange;
}
.profile_name{
    text-align: center;
    font-size: 20px;
    height: 30px;
    background-color: yellow;
}
.profile_ps{
    text-align: center;
    font-size: 20px;
    height: 30px;
    background-color: green;
}
.profile_option{
    background-color: blue;
    height: 70px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.profile_option input[type="button"]{
    width: 150px;
    height: 30px;
}
.option2{
    margin-top: 5px;
}
.back{
    height: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/*
    함께 하는 클래스
*/
#together_class{
    display: none;
    background-color: black;
    color: white;
    width: 180px;
    height: 66px;
    position: fixed;
}
#together_class div:not(.line){
    width: 160px;
    height: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.line{
    border: 1px solid white;
    margin: 2px auto;
    width: 160px;
}

/*
    채팅방 설정 컨트롤러
*/
#chattingroomset_controller{
    display: none;
    width: 100px;
    height: 100px;
    background-color: black;
    color: white;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: fixed;
}

/*
    채팅방 설정 모달
*/
/*
    1. 방장
*/
#setroommodal_creater {
    border: 1px solid black;
    width: 500px;
    height: 700px;
    background-color: red;
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 999;
}
#setroommodal_creater .create_room_modal{
    height: 50px;
    display: flex;
    align-items: center;
    font-size: 30px;
    background-color: orange;
}
#setroommodal_creater .create_room_modal span{
    margin-left: 20px;
}
#setroommodal_creater .create_room_title{
    height: 35px;
    display: flex;
    align-items: center;
    margin-left: 47px;
    background-color: yellow;
}
#setroommodal_creater input[type=text]{
    height: 25px;
}
#setroommodal_creater .room_title_text{
    display: block;
    margin: auto;
    width: 80%;
}
#setroommodal_creater .create_open_close{
    height: 60px;
    display: flex;
    background-color: green;
}
#setroommodal_creater .open_close{
    background-color: blue;
    width: 200px;
    margin-left: 47px;
}
#setroommodal_creater input[type="checkbox"]{
    width: 25px;
    height: 25px;
}
#setroommodal_creater input[type="checkbox"] span{
    font-size: 25px;
}
#setroommodal_creater .close_room{
    margin-left: 10%;
}
#setroommodal_creater .create_room_passwoard{
    background-color: violet;
    margin-left: auto;
    margin-right: 47px;
}
#setroommodal_creater .member_plus{
    height: 35px;
    margin-left: 47px;
    background-color: gray;
    height: 35px;
    display: flex;
    align-items: center;
}
#setroommodal_creater .search_name{
    height: 35px;
    margin-left: 47px;
    background-color: brown;
}
#setroommodal_creater .friend_list{
    height: 425px;
    background-color: pink;
    width: 80%;
    margin: auto;
}
#setroommodal_creater .friend_choice{
    overflow-y: auto;
    width: 80%;
    height: 425px;
    background-color: orchid;
    margin: auto;
    
}
#setroommodal_creater .friend_choice li{
    margin-top: 5%;
    display: flex;
    background-color: skyblue;
}
#setroommodal_creater .friend_choice li .friend_picture{
    border: 1px solid black;
    width: 60px;
    height: 60px;
    margin-left: 5%;
    text-align: center;
    line-height: 60px;
}
#setroommodal_creater .friend_name_ps{
    margin-left: 10px;
    width: 80%;
}
#setroommodal_creater .friend_name{
    border: 1px solid black;
    width: 100px;
    height: 30px;
}
#setroommodal_creater .friend_ps{
    border: 1px solid black;
    width: 180px;
    height: 30px;
}
#setroommodal_creater .go_back{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 35px;
    background-color:coral
}
#setroommodal_creater .go_back input:nth-child(1){
    width: 60px;
    margin-right: 10%;
}
#setroommodal_creater .go_back input:nth-child(2){
    width: 60px;
    margin-left: 10%;
}

/*
    2. 방장x
*/
#setroommodal_member {
    border: 1px solid black;
    width: 500px;
    height: 640px;
    background-color: red;
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 999;
}
#setroommodal_member .create_room_modal{
    height: 50px;
    display: flex;
    align-items: center;
    font-size: 30px;
    background-color: orange;
}
#setroommodal_member .create_room_modal span{
    margin-left: 20px;
}
#setroommodal_member .create_room_title{
    height: 35px;
    display: flex;
    align-items: center;
    margin-left: 47px;
    background-color: yellow;
}
#setroommodal_member input[type=text]{
    height: 25px;
}
#setroommodal_member .room_title_text{
    display: block;
    margin: auto;
    width: 80%;
}
#setroommodal_member .member_plus{
    height: 35px;
    margin-left: 47px;
    background-color: gray;
    height: 35px;
    display: flex;
    align-items: center;
}
#setroommodal_member .search_name{
    height: 35px;
    margin-left: 47px;
    background-color: brown;
}
#setroommodal_member .friend_list{
    height: 425px;
    background-color: pink;
    width: 80%;
    margin: auto;
}
#setroommodal_member .friend_choice{
    overflow-y: auto;
    width: 80%;
    height: 425px;
    background-color: orchid;
    margin: auto;
    
}
#setroommodal_member .friend_choice li{
    margin-top: 5%;
    display: flex;
    background-color: skyblue;
}
#setroommodal_member .friend_choice li .friend_picture{
    border: 1px solid black;
    width: 60px;
    height: 60px;
    margin-left: 5%;
    text-align: center;
    line-height: 60px;
}
#setroommodal_member .friend_name_ps{
    margin-left: 10px;
    width: 80%;
}
#setroommodal_member .friend_name{
    border: 1px solid black;
    width: 100px;
    height: 30px;
}
#setroommodal_member .friend_ps{
    border: 1px solid black;
    width: 180px;
    height: 30px;
}
#setroommodal_member .go_back{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 35px;
    background-color:coral
}
#setroommodal_member .go_back input:nth-child(1){
    width: 60px;
    margin-right: 10%;
}
#setroommodal_member .go_back input:nth-child(2){
    width: 60px;
    margin-left: 10%;
}

/*
    채팅방 신고
*/
#reportroommodal{
    border: 1px solid black;
    width: 500px;
    height: 490px;
    background-color: red;
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 999;
}
#reportroommodal .modal_name{
    height: 50px;
    display: flex;
    align-items: center;
    font-size: 30px;
    background-color: orange;
    margin-left: 20px;
}
.report_reason{
    background-color: yellow;
    width: 80%;
    height: 40px;
    margin: auto;
    font-size: 25px;
}
.reasons{
    background-color: green;
    width: 400px;
    height: 360px;
    margin: auto;
}
.reasons div:not(:first-child){
    margin-top: 3%;
}
.reasons input[type="checkbox"]{
    width: 25px;
    height: 25px;
}
.reasons span{
    font-size: 20px;
}
textarea{
    resize: none;
    width: 385px;
    height: 100px;
    margin-left: 5px;
    font-size: 20px;
}
#reportroommodal .go_back{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 40px;
    background-color:blue
}
#reportroommodal .go_back input:nth-child(1){
    width: 60px;
    margin-right: 10%;
}
#reportroommodal .go_back input:nth-child(2){
    width: 60px;
    margin-left: 10%;
}