<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="chat">
	<!-- 친구 목록 조회
		샘플데이터 추가
	 -->
	 
	<resultMap type="friendDTO" id="friendListResultMap">	
		
	</resultMap> 
	<select id="selectFriendList" resultMap="friendListResultMap">
		SELECT
		    M.USER_NAME, 
		    MP.STATUS_MESSAGE, 
		    I.CHANGE_NAME, 
		    C.CLASS_NAME,
		    MYCJ.CLASS_NO,
		    FRCJ.USER_NO,
		    (SELECT COUNT(*) FROM CLASS_JOIN CJ WHERE MYCJ.CLASS_NO = CJ.CLASS_NO AND FRCJ.USER_NO = CJ.USER_NO) CNT
		FROM FRIEND F
		LEFT JOIN MEMBER M ON M.USER_NO = F.FRIEND_USER_NO
		LEFT JOIN MYPAGE MP ON MP.USER_NO = F.FRIEND_USER_NO
		LEFT JOIN MYPAGE_IMG MI ON MP.MYPAGE_NO = MI.MYPAGE_NO AND TYPE='profile'
		LEFT JOIN IMAGE I USING(IMG_NO)
		LEFT JOIN CLASS_JOIN FRCJ ON FRCJ.USER_NO = F.FRIEND_USER_NO
		LEFT JOIN CLASS C ON FRCJ.CLASS_NO = C.CLASS_NO
		LEFT JOIN CLASS_JOIN MYCJ ON MYCJ.USER_NO = F.USER_NO
		WHERE F.USER_NO = #{userNo} AND F.RESPONSE_STATUS = '수락'
	</select>
	
	<!-- 채팅방 목록 조회 -->
	<select id="selectChattingRoomList" resultType="ChattingRoom">
		
	</select>
	
	<!-- 채팅방 생성 -->
	<insert id="createRoom">
		
	</insert>
	
	<!-- 친구 프로필 조회 -->
	<select id="friendProfile">
	
	</select>
</mapper>