<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="guestbook">
	<select id="loadGuestbook" resultType="guestbook">
		select guestbook_no, content, create_date, user_name, user_no
		from guest_book
		join member using(user_no)
		where mypage_no = #{mypageNo}
            and visibility = 'Y'
            and deleted = 'N'
	</select>
	
	<update id="guestbookHide">
		update table guest_book
		set visibility = 'N'
		where guestbook_no = #{guestbookNo}
	</update>
	
	<update id="guestbookDelete">
		update table guest_book
		set deleted = 'Y'
		where guestbook_no = #{guestbookNo}
	</update>
	
	<insert id="guestbookInsert">
		insert into guest_book values
		(seq_guestbook_no.nextval, #{mypageNo}, #{userNo}, #{content}, sysdate, 'Y', 'N')
	</insert>
</mapper>