<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="guestbook">
	<select id="loadGuestbook" resultType="guestbook">
		select guestbook_no, content, create_date, user_name 
		from guest_book
		join member using(user_no)
		where mypage_no = #{mypageNo}
            and visibility = 'Y'
            and deleted = 'N'
	</select>
</mapper>