<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mypage">
	<select id="getMypageByMypageNo" resultType="mypage">
		select m.*, user_name from mypage m
		join member on m.user_no = member.user_no
		where mypage_no = #{mypageNo}
	</select>
	
	<select id="getMontlyAttCnt" resultType="int">
		select count(*)
		from attendance
		where user_no = #{mypageNo}
			and class_no = #{classNo}
			and to_char(entry_time, 'YYYY-FMMM') = #{month}
	</select>
</mapper>